@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    width: 100%;
    background-color: #e8e7e7;
}

h2{
    color: black;
}

.header{
    position: fixed;
    top: 0;
    Left: 0;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background: #e8e7e7;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    z-index: 1000;
}
.header .Logo{
    color: #bb7b05;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
}
.header a span{
    color: #ad2525;
}
.header .navbar a{
    color: #222;
    text-decoration: none;
    margin-left: 35px;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
}

.user-info span {
    margin-right: 15px; /* Adjust the value as needed */
}

.btn{
    height: 50px;
    width: 140px;
    border-radius: 8px;
    background-color: #121b46;
    color: #fff;
    font-size: 16px;
    outline: none;
    border: 2px solid #121b46;
    cursor:pointer;
    font-weight: 600;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.btn::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    background: #e8e7e7;
    height: 100%;
    width: 00%;
    z-index: -1;
    transition: .3s;
}

.btn:hover:before{
    width: 100%;
}

.btn:hover{
    color: #121b46;
}

.btn-explore{
    margin-left: 20px;
}

section{
    padding:10rem 9% 2rem ;
    background: #e8e7e7;
}

.Dishes-section{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 10vh;
    padding: 10rem 0% 3rem;
}

.heading{
    font-size: 36px;
    text-align: center;
}

.dishGallery{
    display: flex;
    flex-direction: column; /* Change to a column layout */
    align-items: center; /* Center align the rows horizontally */
    margin-left: 200px;
    margin-right: 150px;
}

.dishGallery h1 {
    text-align: left; /* Align the h2 element to the left */
}

.dishGallery h2 {
    text-align: left; /* Align the h2 element to the left */
}

.dishGallery h3 {
    text-align: left; /* Align the h2 element to the left */
}

.dishGallery p {
    text-align: left; /* Align the h2 element to the left */
    font-size: 19px;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #e8e7e7; /* Your desired background color */
    text-align: left; 
    padding: 20px; /* Add padding as needed */
    z-index: 2;
}

.company-address {
    position: absolute;
    bottom: 0;
    right: 100px; /* Adjust this value to control the right margin */
    font-size: 15px;
}

.main-container{
    display: flex;
}

label[for="experience"] {
    vertical-align: top;
    display: block;
    z-index: 1;
}

.food-category {
    text-align: center;
    z-index: 1;
}





